{%extends 'all-news/base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    {% if articles%}
      <h2>Found {{ articles|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}
  </div>
  <div class="row">
  {% if articles %}
    {% for article in articles %}
      <!-- <div class="col-sm-6 col-md-3"> -->
        <div class="row">
          <div class="card text-center">
            <div class="card-header">
              <img class="text-center" src="{{article.article_image.url}}" class="img-responsive" width="350px" height="300px" alt="Image">
            </div>
            <div class="card-body">
              <h2 class="text-center"> {{ article.title }} </h2>
              <h2 class="text-center"> {{ article.post }} </h2>
              <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
          </div>
          <br>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
